* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.text-uppercase {
    text-transform: uppercase;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}


/*Navbar menu*/

nav {
    position: fixed;
    z-index: 500;
    width: 100%;
    background-color: #2C3E50;
}

#logo-box {
    float: left;
    margin-top: 2.2rem;
    margin-left: 4rem;
    padding-bottom: 1.1rem;
    font-weight: 900;
}

#logo-box .logo {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

#logo-box .logo:hover {
    color: #18BC9C;
}

#nav-links {
    float: right;
    padding-top: 1.1rem;
    padding-right: 2rem;
}

.nav-item {
    display: block;
    float: left;
    margin-top: 1rem;
}

#nav-links .nav-link {
    padding: 1rem;
    font-weight: 500;
    transition: color .3s;
}

.nav-link:hover {
    color: #7BAE;
    text-decoration-line: underline;
}

#nav-links .nav-icon {
    display: none;
}

@media (max-width: 992px) {
    #logo-box {
        float: none;
        text-align: left;
    }
    #nav-links {
        float: none;
        padding-top: 0;
    }
    #nav-links.responsive li:not(:first-child) {
        display: none;
    }
    #nav-links .nav-item {
        float: none;
        padding-left: 4rem;
        text-align: left;
    }
    #nav-links .nav-link {
        float: none;
        padding-left: 0;
        font-size: 1.5rem;
        font-weight: 100;
    }
    #nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 3rem;
    }
}


/*Header*/

header {
    background-color: #18BC9C;
    padding-top: calc(68px + 2rem);
    padding-bottom: 28px;
    text-align: center;
}

#family-img {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 40%;
}

.image-container {
    width: 100%;
    background-image: url("./img/my-image.jpg");
    background-size: cover;
    position: relative;
    height: 500px;
}

.text {
    background-color: white;
    color: black;
    font-size: 5rem;
    border-radius: 5px;
    opacity: .4;
    font-weight: bold;
    margin: 0 auto;
    padding: .1rem;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

@media (max-width:1129px) {
    .text {
        font-size: 5rem;
        top: 30%;
    }
}

@media (max-width:1128px) {
    .text {
        font-size: 3rem;
        top: 30%;
    }
}

@media (max-width:687px) {
    .text {
        font-size: 2rem;
    }
}

.text:hover {
    opacity: .6;
}


/*.hero-image {
    background-image: url("/img/my-image.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

*/


/*Star*/

hr.star-light {
    border-color: #fff;
}

hr.star-dark {
    border-color: #2C3E50;
}

.star-light,
.star-dark {
    border: none;
    border-top: .4rem solid;
    max-width: 25rem;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
}

.star-light::after {
    color: #fff;
    background-color: #18BC9C;
}

.star-dark::after {
    color: #2C3E50;
    background-color: #fff;
}

.star-light::after,
.star-dark::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    padding: 0 8px;
    top: -32px;
}


/*Section About*/

#about {
    padding-top: .4rem;
    padding-bottom: 2rem;
}

#about-h2 {
    color: #2C3E50;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

#about-text {
    font-family: 'Times New Roman', Times, serif;
}

#about-text .left {
    float: left;
    width: 50%;
    padding-left: 10rem;
    padding-right: 2rem;
}

#about-text .right {
    float: right;
    width: 50%;
    padding-left: 2rem;
    padding-right: 10rem;
}

@media (max-width:992px) {
    #about-text .left {
        float: none;
        width: 100%;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    #about-text p {
        text-indent: 2rem;
        text-align: justify;
    }
    #about-text .right {
        float: none;
        width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

#about .star-dark::after {
    left: 10.6rem;
}


/*section Contact*/

#contact .star-light::after {
    left: 10.6rem;
}

#contact {
    background-color: #18BC9C;
    padding-top: 5.5rem;
    padding-bottom: 2rem;
}

#contact-form {
    width: 60%;
    margin: 0 auto;
}

#form {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
}

.form-group {
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.form-group input:focus {
    outline: 0;
}

.form-group input,
.form-group textarea {
    border: none;
    width: 100%;
    display: block;
    font-size: 2.4rem;
}

#send-button {
    width: 5rem;
    height: 3rem;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: green;
    transition: .3s ease-in;
}

#send-button:hover {
    opacity: .5;
}


/*Get in touch with me*/

.getintouch {
    background-color: #fff;
}

.getintouch h2 {
    color: #2C3E50;
}

.getintouch .star-dark::after {
    left: 10.6rem;
}

.col {
    padding-bottom: 1rem;
    padding-top: 1rem;
    float: left;
    display: block;
    width: 33.33%;
    text-align: center;
}

.col a,
.col p {
    color: gray;
    font-size: 1.2rem;
    font-weight: 200;
}

@media (max-width:786px) {
    .col {
        float: none;
        width: 100%;
    }
}

footer {
    background-color: #2C3E50;
}

#social-media {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#social-media a {
    font-size: 2.2rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}

#social-media a:hover {
    opacity: .6;
}

.copyright {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

small b:hover {
    color: red;
}